.input {
  padding: 1rem 1.5rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 2rem 0;
  font-size: 1.75rem;
  color: #333;

  &::placeholder {
    color: $placeholder
  }
}
