#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-flex {
    align-items: center;
    justify-content: center;
    display: flex;

    @include respond(tab-port) {
      display: block;
    }
  }

  .about-text {
    margin-left: 5rem;
    text-align: left;

    @include respond(tab-port) {
      margin-top: 5rem;
      margin-left: 0;
      text-align: center;
    }
  }

  .about-image {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
